/* Tooltip text */
.tooltiptext {
  width: 120px;
  background-color: rgb(40, 116, 216);
  color: #fff;
  text-align: center;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */

  padding: 5px;
  margin: 5px;
}
